/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-image: url(../img/doodles.png);
  height: 100vh;
  padding: 2rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

/* Whole window */
.app-window {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 1rem;
  background-image: url(../img/dust_scratches.png);
  -webkit-box-shadow: 10px 30px 20px rgba(153, 145, 145, 0.2);
          box-shadow: 10px 30px 20px rgba(153, 145, 145, 0.2);
  font-size: 1.5rem;
  max-width: 100rem;
  height: 85vh;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .app-window {
    display: block;
  }
}

.app-window__users {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  height: 80vh;
  gap: 0.2rem;
}

.app-window__left {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  padding-top: 2rem;
}

.app-window__left::-webkit-scrollbar {
  width: 1rem;
}

.app-window__left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(224, 31, 31, 0.3);
          box-shadow: inset 0 0 6px rgba(224, 31, 31, 0.3);
}

.app-window__left::-webkit-scrollbar-thumb {
  background-color: rgba(249, 190, 190, 0.5);
}

.app-window__search {
  padding: 2rem 1rem;
  border-radius: 2rem;
  width: 90%;
  border: none;
  background-color: #f2f2f2;
  overflow: hidden;
  margin-bottom: 2rem;
}

.app-window__typing {
  padding: 2rem 1rem;
  border-radius: 2rem;
  width: 90%;
  border: none;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 10px #f9bebe;
          box-shadow: 2px 2px 10px #f9bebe;
}

.app-window__header {
  font-size: 2.5rem;
  font-weight: bold;
  display: none;
}

.app-window__header {
  display: block;
  margin-bottom: 2rem;
}

.app-window__sent-recieved {
  margin: 1rem;
  overflow-y: scroll;
}

.app-window__sent-recieved::-webkit-scrollbar {
  width: 1rem;
}

.app-window__sent-recieved::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.3);
          box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.3);
}

.app-window__sent-recieved::-webkit-scrollbar-thumb {
  background-color: rgba(249, 190, 190, 0.5);
  outline: 1px solid #e7ecf1;
}

.app-window__one-message-received {
  margin-bottom: 1.5rem;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 1rem;
}

.app-window__one-message-sent {
  margin-bottom: 1.5rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-window__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

.app-window__info:hover {
  cursor: pointer;
  background-color: rgba(249, 190, 190, 0.5);
}

.app-window__avatar, .app-window__avatar-small {
  width: 20%;
  height: auto;
  border-radius: 10rem;
}

.app-window__avatar-small {
  width: 8%;
}

.app-window__last-msg {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 16rem;
  overflow: hidden;
  color: grey;
  position: absolute;
}

.app-window__messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: scroll;
  padding: 3rem 0;
}

@media only screen and (max-width: 37.5em) {
  .app-window__messages {
    display: none;
  }
}

.app-window__all-messages {
  display: none;
}

.app-window__all-messages.active {
  display: block;
}

.app-window__button {
  width: 10rem;
  height: auto;
  padding: 1rem 0.5rem;
  border: 2px solid white;
  border-radius: 3rem;
  background-color: #c99898;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  -webkit-box-shadow: 2px 2px 10px #f9bebe;
          box-shadow: 2px 2px 10px #f9bebe;
}

.app-window__send {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9fr 1fr 1fr 1fr;
      grid-template-columns: 9fr 1fr 1fr 1fr;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
}

.app-window__attach {
  font-size: 4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: gray;
}

.app-window__emotikon {
  font-size: 4rem;
  color: gray;
}

.sent {
  padding: 1rem;
  background-color: #dddddd;
  display: inline-block;
  border-radius: 1rem;
  text-align: left;
}

.received {
  padding: 1rem;
  background-color: #f9bebe;
  border-radius: 1rem;
  display: inline-block;
  text-align: right;
  margin-left: auto;
  width: auto;
}

.time-delivery {
  font-size: 1rem;
}

.hide {
  display: none;
}

.active {
  background: #f9bebe;
}

.active:hover {
  background: #f9bebe;
}
/*# sourceMappingURL=main.css.map */