////////// MEDIA QUERY MANAGER /////////////////////
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px  phone
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px tablet portrait
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px tablet landscape
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800 big desktop
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 60%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-image: url(../img/doodles.png);
  height: 100vh;
  padding: 2rem;

  // @include respond(tab-port) {
  //   font-size: 40%;
  // }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
/* Whole window */
.app-window {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  background-image: url(../img/dust_scratches.png);
  box-shadow: 10px 30px 20px rgba(153, 145, 145, 0.2);
  font-size: 1.5rem;
  max-width: 100rem;
  height: 85vh;
  overflow: hidden;

  @include respond(phone) {
    display: block;
    font-size: 1.8rem;
  }

  &__users {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    gap: 0.2rem;
    overflow-x: hidden;
  }

  &__left {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 2rem;
    height: 85vh;
    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(224, 31, 31, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(249, 190, 190, 0.5);
      // outline: 1px solid slategrey;
    }
  }
  &__search {
    padding: 2rem 1rem;
    border-radius: 2rem;
    width: 90%;
    border: none;
    background-color: rgb(242, 242, 242);
    overflow: hidden;
    margin-bottom: 2rem;
  }
  &__typing {
    padding: 2rem 1rem;
    border-radius: 2rem;
    width: 90%;
    border: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(249, 190, 190);
  }

  &__header-big {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-left: 2rem;
  }
  &__header {
    font-size: 2.5rem;
    font-weight: bold;
    display: none;
    display: block;
  }

  &__sent-recieved {
    margin: 1rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(249, 190, 190, 0.5);
      outline: 1px solid rgb(231, 236, 241);
    }
  }
  &__one-message-received {
    margin-bottom: 1.5rem;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  &__one-message-sent {
    margin-bottom: 1.5rem;
    text-align: left;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
    position: relative;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;

    &:hover {
      cursor: pointer;
      background-color: rgba(249, 190, 190, 0.5);
    }
  }

  &__avatar,
  &__avatar-small {
    width: 20%;
    height: auto;
    border-radius: 10rem;
  }
  &__avatar-small {
    width: 8%;
  }

  &__last-msg {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 16rem;
    overflow: hidden;
    color: grey;
    position: absolute;
  }
  &__messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 3rem 0;

    @include respond(phone) {
      display: none;
    }
  }
  &__all-messages {
    display: none;
  }
  &__all-messages.active {
    display: block;
  }

  &__button {
    width: 10rem;
    height: auto;
    padding: 1rem 0.5rem;
    border: 2px solid white;
    border-radius: 3rem;
    background-color: rgb(201, 152, 152);
    font-weight: bold;
    color: white;
    font-size: 2rem;
    box-shadow: 2px 2px 10px rgb(249, 190, 190);
  }
  &__send {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: end;
  }
  &__attach {
    font-size: 4rem;
    transform: rotate(45deg);
    color: gray;
  }

  &__emotikon {
    font-size: 4rem;

    color: gray;
  }
}

.sent {
  padding: 1rem;
  background-color: rgb(221, 221, 221);
  display: inline-block;
  border-radius: 1rem;
  text-align: left;
}
.received {
  padding: 1rem;
  background-color: rgb(249, 190, 190);
  border-radius: 1rem;
  display: inline-block;
  text-align: right;

  margin-left: auto;
  width: auto;
}

.time-delivery {
  font-size: 1rem;
}

.hide {
  display: none;
}

.show {
  display: flex;
  height: 80vh;
}

.btn-arrow {
  padding: 1rem 2rem;
  border-radius: 500px;
  border: none;
  background-color: rgb(249, 190, 190);
  font-size: 3rem;
  color: white;
  box-shadow: 2px 2px 10px rgb(249, 190, 190);
}
.active {
  background: rgb(249, 190, 190);

  &:hover {
    background: rgb(249, 190, 190);
  }
}

.day-sent-recieved {
  text-align: center;
  margin-bottom: 1rem;
}
//  @include respond(tab-port) {
//             width: 100%;
//         }
