* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-image: url(../img/doodles.png);
  height: 100vh;
  padding: 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
/* Whole window */
.app-window {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  background-image: url(../img/dust_scratches.png);
  box-shadow: 10px 30px 20px rgba(153, 145, 145, 0.2);
  font-size: 1.5rem;
  max-width: 100rem;
  height: 85vh;
  overflow: hidden;

  &__users {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
    height: 80vh;
  }

  &__left {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 2rem;
  }
  &__search {
    padding: 2rem 1rem;
    border-radius: 2rem;
    width: 90%;
    border: none;
    background-color: rgb(242, 242, 242);
    overflow: hidden;
    margin-bottom: 2rem;
  }
  &__typing {
    padding: 2rem 1rem;
    border-radius: 2rem;
    width: 90%;
    border: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(249, 190, 190);
  }

  &__header {
    font-size: 2.5rem;
    font-weight: bold;
    display: none;
  }

  &__header.active {
    display: block;
    margin-bottom: 2rem;
  }

  &__sent-recieved {
    margin: 1rem;
  }
  &__one-message-received {
    margin-bottom: 1.5rem;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  &__one-message-sent {
    margin-bottom: 1.5rem;
    text-align: left;
    display: flex;
    gap: 1rem;
  }

  &__info {
    display: flex;
    align-items: center;

    gap: 2rem;
    padding-left: 2rem;

    &:hover {
      cursor: pointer;
    }

    &__info.active {
      background-color: orangered;
    }
  }

  &__avatar,
  &__avatar-small {
    width: 20%;
    height: auto;
    border-radius: 10rem;
  }
  &__avatar-small {
    width: 8%;
  }

  &__last-msg {
    overflow: hidden;
    color: grey;
  }
  &__messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 3rem 0;
  }
  &__all-messages {
    display: none;
  }
  &__all-messages.active {
    display: block;
  }

  &__button {
    width: 10rem;
    height: auto;
    padding: 1rem 0.5rem;
    border: 2px solid white;
    border-radius: 3rem;
    background-color: rgb(201, 152, 152);
    font-weight: bold;
    color: white;
    font-size: 2rem;
    box-shadow: 2px 2px 10px rgb(249, 190, 190);
  }
  &__send {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: end;
  }
  &__attach {
    font-size: 4rem;
    transform: rotate(45deg);
    color: gray;
  }

  &__emotikon {
    font-size: 4rem;

    color: gray;
  }
}

.sent {
  padding: 1rem;
  background-color: rgb(221, 221, 221);
  display: inline-block;
  border-radius: 1rem;
  text-align: left;
}
.received {
  padding: 1rem;
  background-color: rgb(249, 190, 190);
  border-radius: 1rem;
  display: inline-block;
  text-align: right;
  margin-left: auto;
  width: auto;
}

.time-delivery {
  font-size: 1rem;
}

.hide {
  display: none;
}
